# general npm config
progress=false
tag-version-prefix=""

# create a new one at: https://github.com/settings/tokens/new
//npm.pkg.github.com/:_authToken=${NPM_GITHUB_TOKEN}

# internal repos and shorthands
@KL-Engineering:registry=https://npm.pkg.github.com
@kl-engineering:registry=https://npm.pkg.github.com
@KL-Global:registry=https://npm.pkg.github.com
@kl-global:registry=https://npm.pkg.github.com
